/*Global*/
.alignleft {
	float: left;
}

/*Body*/
body {
	margin: 20px;
}

#wrapper {
	margin: 0 auto;
}

#content {
}

/*Home Page */
#brand {
	position: absolute;
	z-index: 2;
	text-indent: -99999em;
	width: 960px;

}

/*Nav*/
/*http://aamirafridi.com/css/pure-css-responsive-menu*/
* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}
#nav {
    display: block;
    background: black;
    position: relative;
    min-height: 40px;
}
#nav, #nav a {
    color: white;
    text-decoration: none;
}
#nav a {
    display: block;
    padding: 10px;
}
#nav a:hover {
    background: gray;
}
#nav ul {
    padding:0;
    margin: 0;
}
#nav ul li {
    float:left;
    display:inline;
    position:relative;
    background: #505050;
    border-right: 1px solid white;
}
#nav ul li ul {
    left:0;
    top:100%;
}
#nav ul ul {
    display:none;
}
#nav li:hover > ul {
    display:block;
    position:absolute;
    z-index:1000;
    width: 120px;
}
#nav ul ul li:hover > ul {
    right: -120px;
    top: 0;
    left: auto;
}

/*Hide checkbox and label by default*/
#nav > input,
#nav > label {
  display: none;
}

#nav > label {
  width: 100%;
  float: left;
  padding: 10px;
  padding-right: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Media query*/
@media (max-width: 400px) {
    #nav > label, #nav ul li ul {
        display: block;
    }
    #nav > ul {
        display: none;
        clear: both;
    }
    #nav > input:checked + ul {
        display: block;
    }
    #nav ul ul li a:before {
        content:'-> ';
        display: inline;
    }
    #nav ul li {
        float: none;
        display: block;
        border-right: none;
        padding-left: 10px;
    }
    #nav li:hover ul {
        position: relative;
        width: auto;
    }
    #nav ul ul li:hover > ul {
        right:auto;
        top: auto;
        left: auto;
    }
}

/** Footer **/
#footer {
	padding: 20px;
}
