body {
	background: #000 url("img/space.jpg") repeat center center;
}

#wrapper {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

nav {
	margin-top: 10px;
}

td, th {
    padding: 5px;
}

.pull-left {
	margin: 0 10px 10px 0;
}

.pull-right {
	margin: 0 0 10px 10px;
}

