<div>
	<h1 class="page-title">New Personnel</h1>
	<div>
	<form name="createPersonnel" ng-submit="submit(createPersonnel.$valid)" novalidate>
		<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
		
		<label for="name">Name</label>
		<input type="text" name="name" class="form-control" ng-model="user.name" 
		ng-model-options="{ updateOn: 'blur' }"
		ng-minlength="8"
		ng-maxlength="150"
		ng-pattern="/^[a-z ,.'-]+ [a-z ,.'-]+$/i"
		required>
		<div ng-show="createPersonnel.name.$error.required">Name is required.</div>
		<div ng-show="createPersonnel.name.$error.minlength || createPersonnel.Name.$error.maxlength">Name must be between 8 and 150 characters.</div>
		<div ng-show="createPersonnel.name.$error.pattern">First and last name must be entered.</div>
		
		<br />
		
		<label for="title">Title</label>
		<input type="text" id="title" name="title" ng-model="user.title"
		ng-model-options="{ updateOn: 'blur' }"
		required/>
		<div ng-show="createPersonnel.title.$error.required">Title is required.</div>
		
		<br />
		
		<label for="department">Department</label>
		<input type="text" id="department" name="department" ng-model="user.department"
		ng-model-options="{ updateOn: 'blur' }"
		required/>
		<div ng-show="createPersonnel.department.$error.required">Department is required.</div>
		
		<br />
		
		<label for="wage">Wage</label>
		$<input type="text" id="wage" name="wage" ng-model="user.wage"
		ng-model-options="{ updateOn: 'blur' }"
		ng-pattern="/^\d+\.\d{2}$/" 
		required/>
		<div ng-show="createPersonnel.wage.$error.required">Wage is required.</div>
		
		<br /><br />
		
		
		<input id="submit" type="submit" value="Submit" ng-disabled="createPersonnel.$invalid || createPersonnel.$pristine"/>
		
	</form
</div>