<img src="http://img1.wikia.nocookie.net/__cb20080311202138/starwars/images/thumb/a/ac/Republic_Emblem_%28unification_wars%29.svg/185px-Republic_Emblem_%28unification_wars%29.svg.png" width="100px" alt="Imperial Crest" class="pull-left" /><h1>Welcome to the Imperial Command Center</h1>
<div style="clear: both"></div>
<p>Here at the Imperial Command Center our goal to provide you with all the information you need to do your job. </p>
<p>You can stay current with our galactic news feeds. News is imported from leading content providers from throughout the galaxy. </p>
<p>Any important news regarding your job and station can be found in our internal news section. Please check this regularly to stay informed of maintenance schedules,  weekly meetings, and emergency information.</p>
<p>Lastly, our personnel section allows you to monitor all personnel under your command. It is your job to ensure the performance of those you manage is at a maximum.</p>
