<div>
	<h1 class="page-title">Edit Personnel</h1>
	<div>
	<form name="editPersonnel" ng-submit="submit(editPersonnel.$valid)">
		<label for="name">Name</label>
		<input type="text" name="name" class="form-control" ng-model="user.name" 
		ng-model-options="{ updateOn: 'blur' }"
		ng-minlength="8"
		ng-maxlength="150"
		required>
		<div ng-show="editPersonnel.name.$error.required && editPersonnel.$touched">Name is required.</div>
		<div ng-show="editPersonnel.name.$error.minlength || editPersonnel.Name.$error.maxlength">Name must be between 8 and 150 characters.</div>
		
		<br />
		
		<label for="title">Title</label>
		<input type="text" id="title" ng-model="user.title" name="title"
		ng-model-options="{ updateOn: 'blur' }"
		required/>
		
		<br />
		
		<label for="department">Department</label>
		<input type="text" id="department" name="department" ng-model="user.department"
		ng-model-options="{ updateOn: 'blur' }"
		required/>
		
		<br />
		
		<label for="wage">Wage</label>
		<input type="text" id="wage" name="wage" ng-model="user.wage"
		ng-model-options="{ updateOn: 'blur' }"
		ng-pattern="/^\d+\.\d{2}$/" 
		required/>
		<div ng-show="editPersonnel.wage.$error.pattern">Wage must be decimal format(#.##).</div>
		
		<br /><br />
		
		<input id="submit" type="submit" value="Submit" ng-disabled="editPersonnel.$invalid || editPersonnel.$pristine"/>
		
	</form
</div>