<div>
	<h1 class="page-title">Edit Internal News</h1>
	<div>
	<form ng-submit="submit()">
		<label for="user">User</label>
		<span  id="user" ng-bind="memo.user"></span>
		
		<br />
		
		<label for="datePublished">Date Published</label>
		<span  id="datePublished" ng-bind="memo.datePublished"></span>
		
		<br />
		
		<label for="subject">Subject</label>
		<span type="text" id="subject" ng-bind="memo.subject"></span>
		
		<br />
		
		<label for="message">Message</label><br />
		<div id="message" ng-bind="memo.text"></div>
		
		<br />

		
	</form>
</div>